<script>
    import {push} from 'svelte-spa-router'
    function handleLogout() {
        fetch('/api/logout')
            .then((response) => response.json())
            .then((data) => {
                if (data.result) {
                    push('/login')
                }
            });
    }

</script>
<footer class="layout py-4 bg-gray-100 text-gray-900">
    <ul class="flex flex-col items-end justify-center text-base w-full max-w-screen-lg m-auto">
        <li>
            <a href="https://codeberg.org/JoshuaCrewe/library" target="_blank" rel="noopener" class="py-2 inline-block hover:text-gray-500 focus:text-gray-500">
                Codeberg
            </a>
        </li>
        <li>
            <a href="https://prism.librarymanagementcloud.co.uk/cornwall/" class="py-2 inline-block hover:text-gray-500 focus:text-gray-500">
                Cornwall Library Services
            </a>
        </li>
        <li>
            <a href="https://www.cornwall.gov.uk/libraries-museums-and-archives/libraries/using-the-library/book-request-form/" class="py-2 inline-block hover:text-gray-500 focus:text-gray-500">
                Request a book
            </a>
        </li>
        <li>
            <button on:click={handleLogout} class="py-2 inline-block hover:text-gray-500 focus:text-gray-500" >
                Logout
            </button>
        </li>
    </ul>
</footer>
