<script>
    import {push} from 'svelte-spa-router'
    let barcode = '';
    let pin = '';
    let error = false;
    async function handleLogin(e) {
        let url = window.location.origin + '/api/barcode/' + barcode + ':' + pin;

        const response = await fetch(url);
        const json = await response.json();
        if (!json.success) {
            error = true;
        } else {
            error = false;
            push(`/dashboard`);
        }

    }
</script>
<div class="min-h-screen">
    <section class="layout">
        <div class="center py-20">
            <form class:border-red-500={error} class="border-solid border-2 border-transparent p-4 w-full md:w-2/3 xl:w-1/2 mx-auto my-0" action="" on:submit|preventDefault={handleLogin}>
                <label class="" for="barcode">
                    <h2 class="text-xl mb-4">
                        Enter your library card number
                    </h2>
                </label>
                <div class="flex flex-col md:flex-row text-left">
                    <span class="flex flex-col flex-1">
                        <label class="" for="barcode">Barcode</label>
                        <input placeholder="xxxxxxxxxxxxxx" class="input mb-4 md:mr-2" type="text" bind:value={barcode} name="barcode" id="barcode">
                    </span>
                    <span class="flex flex-col">
                        <label class="md:ml-2" for="pin">PIN</label>
                        <input placeholder="xxxx"     class="input mb-4 md:ml-2" type="text" name="pin" id="pin" bind:value={pin}>
                    </span>
                </div>
                <button class="button my-0 mx-auto">
                    Log in
                </button>
            </form>
            {#if error}
                <p class="text-red-500">
                    Sorry, we didn't recognise your borrower number. Please try again.
                </p>
            {/if}
        </div>
    </section>
</div>
